
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.App__products {
  background-color: rgba(85, 78, 78, .2);
  background-image: url("/Users/casvalkyriespicer/Documents/GitHub/layout-in-react/src/productlayout3.jpeg");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: contain;
  max-width: 70vw;
  height: 100vh;
  /* width: 100%;
  object-fit: contain;
  max-height: 850px; */
  border: 2px solid hotpink;
}

.App__specs {
  max-width: 30vw;
  height: 100vh;
  border: 2px solid green;
}
